# Binaries
nginx-log-viewer
*.exe
*.dll
*.so
*.dylib

# Logs
*.log
access.log

# Mac
.DS_Store

# Go
go.work

# DB
logs.db*
data/
backend/server*
server*

# Frontend
frontend/node_modules
.env.local
.env.*.local
