version: '3.8'

services:
  log-viewer:
    build: .
    image: laibin2886/nginx-log-viewer:latest
    container_name: nginx-log-viewer
    ports:
      - "58080:58080"
    environment:
      - LOG_FORMAT=$remote_addr - $remote_user [$time_local] "$request" $status GET_ARGS: "$query_string" POST_BODY: "$request_body"
      - LOG_FILE=/var/log/nginx/access.log
      - LISTEN_ADDR=:58080
    volumes:
      # Mount your host log file to the container
      # CHANGE ./access.log to your real log file path on host
      - ./access.log:/var/log/nginx/access.log:ro
      - ./logs.db:/app/logs.db
      # - ./config.json:/app/config.json # 如果你想用配置文件
    command: ["./nginx-log-viewer", "-file", "/var/log/nginx/access.log", "-addr", ":58080"]
    restart: unless-stopped
